MMC/Service References/MMCService.CurrentWorkloadService/CurrentWorkloadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/CurrentWorkloadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
  <xs:element name="AddRptCurrentWorkloadReportParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_rptCurrentWorkloadReportParameters" nillable="true" type="q1:ArrayOfCurrentWorkloadReportParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRptCurrentWorkloadReportParametersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCurrentWorkloadReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_currentworkloadReport" nillable="true" type="q2:CurrentWorkloadReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCurrentWorkloadReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCurrentWorkloadReportResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>