MMC/Service References/MMCService.ClientService/ClientService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
  <xs:complexType name="PagedClient">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="ClientDetails" nillable="true" type="q1:ArrayOfClient" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedClient" nillable="true" type="tns:PagedClient" />
  <xs:complexType name="PagedClientInsurer">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="ClientInsurerDetails" nillable="true" type="q2:ArrayOfClientInsurer" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedClientInsurer" nillable="true" type="tns:PagedClientInsurer" />
  <xs:complexType name="PagedClientEmployer">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="ClientEmployerDetails" nillable="true" type="q3:ArrayOfClientEmployer" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedClientEmployer" nillable="true" type="tns:PagedClientEmployer" />
  <xs:complexType name="PagedClientThirdPartyAdministrator">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="ClientThirdPartyAdministratorDetails" nillable="true" type="q4:ArrayOfClientThirdPartyAdministrator" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedClientThirdPartyAdministrator" nillable="true" type="tns:PagedClientThirdPartyAdministrator" />
  <xs:complexType name="PagedClientManagedCareCompany">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="ClientManagedCareCompanyDetails" nillable="true" type="q5:ArrayOfClientManagedCareCompany" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedClientManagedCareCompany" nillable="true" type="tns:PagedClientManagedCareCompany" />
</xs:schema>