MMC/Service References/MMCService.PaticipantService/PaticipantService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/PaticipantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
  <xs:complexType name="PagedAdjuster">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="AdjusterDetails" nillable="true" type="q1:ArrayOfAdjuster" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedAdjuster" nillable="true" type="tns:PagedAdjuster" />
  <xs:complexType name="PagedPhysician">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="PhysicianDetails" nillable="true" type="q2:ArrayOfPhysician" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedPhysician" nillable="true" type="tns:PagedPhysician" />
  <xs:complexType name="PagedVendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="VendorDetails" nillable="true" type="q3:ArrayOfVendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedVendor" nillable="true" type="tns:PagedVendor" />
  <xs:complexType name="PagedInsurer">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="InsurerDetails" nillable="true" type="q4:ArrayOfInsurer" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedInsurer" nillable="true" type="tns:PagedInsurer" />
</xs:schema>