MMC/Service References/MMCService.EmailRecordAttachmentService/EmailRecordAttachmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/EmailRecordAttachmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/EmailRecordAttachmentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" />
  <xs:element name="addEmailRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_emailRecord" nillable="true" type="q1:EmailRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmailRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEmailRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmailRecordAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_emailRecordAttachment" nillable="true" type="q2:EmailRecordAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmailRecordAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEmailRecordAttachmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailRecordAttachmentByEmailRecordId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailRecordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailRecordAttachmentByEmailRecordIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" minOccurs="0" name="getEmailRecordAttachmentByEmailRecordIdResult" nillable="true" type="q3:PagedEmailRecordAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmailRecordAndRFARequestLinkByRFAReferralID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFAReferralID" type="xs:int" />
        <xs:element minOccurs="0" name="EmailRecordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmailRecordAndRFARequestLinkByRFAReferralIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmailRecordAndRFARequestLinkByRFITimeExtension">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFAReferralID" type="xs:int" />
        <xs:element minOccurs="0" name="RFAReferralFileID" type="xs:int" />
        <xs:element minOccurs="0" name="EmailRecordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmailRecordAndRFARequestLinkByRFITimeExtensionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>