MMC/Service References/MMCService.EmailRecordAttachmentService/EmailRecordAttachmentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMCService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmailRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmRecBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmRecCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmRecSubject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmRecTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailRecDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailRecordId" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailRecord" nillable="true" type="tns:EmailRecord" />
  <xs:complexType name="EmailRecordAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmRecBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmRecCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmRecSubject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmRecTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAttachmentId" type="xs:int" />
      <xs:element minOccurs="0" name="EmailRecordId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailRecordAttachment" nillable="true" type="tns:EmailRecordAttachment" />
  <xs:complexType name="ArrayOfEmailRecordAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailRecordAttachment" nillable="true" type="tns:EmailRecordAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailRecordAttachment" nillable="true" type="tns:ArrayOfEmailRecordAttachment" />
</xs:schema>