MMC/Service References/MMCService.NotificationService/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/NotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/NotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_getAllNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllNotifications" />
  </wsdl:message>
  <wsdl:message name="INotificationService_getAllNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_getAdjandPhyEmailByReferralID_InputMessage">
    <wsdl:part name="parameters" element="tns:getAdjandPhyEmailByReferralID" />
  </wsdl:message>
  <wsdl:message name="INotificationService_getAdjandPhyEmailByReferralID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAdjandPhyEmailByReferralIDResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="getAllNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/getAllNotifications" message="tns:INotificationService_getAllNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/getAllNotificationsResponse" message="tns:INotificationService_getAllNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAdjandPhyEmailByReferralID">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/getAdjandPhyEmailByReferralID" message="tns:INotificationService_getAdjandPhyEmailByReferralID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/getAdjandPhyEmailByReferralIDResponse" message="tns:INotificationService_getAdjandPhyEmailByReferralID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationService" type="tns:INotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllNotifications">
      <soap:operation soapAction="http://tempuri.org/INotificationService/getAllNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdjandPhyEmailByReferralID">
      <soap:operation soapAction="http://tempuri.org/INotificationService/getAdjandPhyEmailByReferralID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="BasicHttpBinding_INotificationService" binding="tns:BasicHttpBinding_INotificationService">
      <soap:address location="http://wcfservice.vsaindia.com:8081/mmc/NotificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>