MMC/Service References/MMCService.NotificationService/NotificationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMCService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
  <xs:complexType name="Notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatClaimNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFAReferralID" type="xs:int" />
      <xs:element minOccurs="0" name="RFARequestID" type="xs:int" />
      <xs:element minOccurs="0" name="RFARequestedTreatment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:complexType name="ArrayOfNotificationEmailSend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotificationEmailSend" nillable="true" type="tns:NotificationEmailSend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotificationEmailSend" nillable="true" type="tns:ArrayOfNotificationEmailSend" />
  <xs:complexType name="NotificationEmailSend">
    <xs:sequence>
      <xs:element minOccurs="0" name="NotificationEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFAReferralID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationEmailSend" nillable="true" type="tns:NotificationEmailSend" />
</xs:schema>