MMC/Service References/MMCService.UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUserByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserByID" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUserByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUsersByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsersByName" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUsersByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUserPassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/addUser" message="tns:IUserService_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/addUserResponse" message="tns:IUserService_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/updateUser" message="tns:IUserService_updateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/updateUserResponse" message="tns:IUserService_updateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/deleteUser" message="tns:IUserService_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/deleteUserResponse" message="tns:IUserService_deleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getUserByID" message="tns:IUserService_getUserByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getUserByIDResponse" message="tns:IUserService_getUserByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserByUserName" message="tns:IUserService_GetUserByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByUserNameResponse" message="tns:IUserService_GetUserByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsersByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getUsersByName" message="tns:IUserService_getUsersByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getUsersByNameResponse" message="tns:IUserService_getUsersByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/updateUserPassword" message="tns:IUserService_updateUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/updateUserPasswordResponse" message="tns:IUserService_updateUserPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/updateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByID">
      <soap:operation soapAction="http://tempuri.org/IUserService/getUserByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByName">
      <soap:operation soapAction="http://tempuri.org/IUserService/getUsersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserPassword">
      <soap:operation soapAction="http://tempuri.org/IUserService/updateUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://wcfservice.vsaindia.com:8081/mmc/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>