MMC/Service References/MMCService.LetterService/LetterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LetterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/LetterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/LetterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/LetterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILetterService_getInitialNotificationLetterDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getInitialNotificationLetterDetails" />
  </wsdl:message>
  <wsdl:message name="ILetterService_getInitialNotificationLetterDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInitialNotificationLetterDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILetterService_getRequestDetailsInitialNotificationLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:getRequestDetailsInitialNotificationLetter" />
  </wsdl:message>
  <wsdl:message name="ILetterService_getRequestDetailsInitialNotificationLetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRequestDetailsInitialNotificationLetterResponse" />
  </wsdl:message>
  <wsdl:message name="ILetterService_getCertifiedRequestDetailsInitialNotificationLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:getCertifiedRequestDetailsInitialNotificationLetter" />
  </wsdl:message>
  <wsdl:message name="ILetterService_getCertifiedRequestDetailsInitialNotificationLetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCertifiedRequestDetailsInitialNotificationLetterResponse" />
  </wsdl:message>
  <wsdl:message name="ILetterService_getDeniedRequestDetailsInitialNotificationLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:getDeniedRequestDetailsInitialNotificationLetter" />
  </wsdl:message>
  <wsdl:message name="ILetterService_getDeniedRequestDetailsInitialNotificationLetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeniedRequestDetailsInitialNotificationLetterResponse" />
  </wsdl:message>
  <wsdl:portType name="ILetterService">
    <wsdl:operation name="getInitialNotificationLetterDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetterService/getInitialNotificationLetterDetails" message="tns:ILetterService_getInitialNotificationLetterDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetterService/getInitialNotificationLetterDetailsResponse" message="tns:ILetterService_getInitialNotificationLetterDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRequestDetailsInitialNotificationLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetterService/getRequestDetailsInitialNotificationLetter" message="tns:ILetterService_getRequestDetailsInitialNotificationLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetterService/getRequestDetailsInitialNotificationLetterResponse" message="tns:ILetterService_getRequestDetailsInitialNotificationLetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCertifiedRequestDetailsInitialNotificationLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetterService/getCertifiedRequestDetailsInitialNotificationLetter" message="tns:ILetterService_getCertifiedRequestDetailsInitialNotificationLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetterService/getCertifiedRequestDetailsInitialNotificationLetterResponse" message="tns:ILetterService_getCertifiedRequestDetailsInitialNotificationLetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDeniedRequestDetailsInitialNotificationLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetterService/getDeniedRequestDetailsInitialNotificationLetter" message="tns:ILetterService_getDeniedRequestDetailsInitialNotificationLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetterService/getDeniedRequestDetailsInitialNotificationLetterResponse" message="tns:ILetterService_getDeniedRequestDetailsInitialNotificationLetter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILetterService" type="tns:ILetterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInitialNotificationLetterDetails">
      <soap:operation soapAction="http://tempuri.org/ILetterService/getInitialNotificationLetterDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequestDetailsInitialNotificationLetter">
      <soap:operation soapAction="http://tempuri.org/ILetterService/getRequestDetailsInitialNotificationLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCertifiedRequestDetailsInitialNotificationLetter">
      <soap:operation soapAction="http://tempuri.org/ILetterService/getCertifiedRequestDetailsInitialNotificationLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeniedRequestDetailsInitialNotificationLetter">
      <soap:operation soapAction="http://tempuri.org/ILetterService/getDeniedRequestDetailsInitialNotificationLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LetterService">
    <wsdl:port name="BasicHttpBinding_ILetterService" binding="tns:BasicHttpBinding_ILetterService">
      <soap:address location="http://wcfservice.vsaindia.com:8081/mmc/LetterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>