MMC/Service References/MMCService.IMRService/IMRService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/IMRService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/IMRService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/IMRService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
  <xs:element name="getRequestIMRRecordAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_skip" type="xs:int" />
        <xs:element minOccurs="0" name="_take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRequestIMRRecordAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" minOccurs="0" name="getRequestIMRRecordAllResult" nillable="true" type="q1:PagedRequestIMRRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRequestIMRRecordByPatientClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_skip" type="xs:int" />
        <xs:element minOccurs="0" name="_take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRequestIMRRecordByPatientClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" minOccurs="0" name="getRequestIMRRecordByPatientClaimResult" nillable="true" type="q2:PagedRequestIMRRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequestIMRRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_arrRequestID" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequestIMRRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMedicalAndLegalDocsByReferralID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReferralID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMedicalAndLegalDocsByReferralIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="getMedicalAndLegalDocsByReferralIDResult" nillable="true" type="q4:ArrayOfRFAReferralFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRFAIMRReferenceNumberByReferralID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_rFAReferral" nillable="true" type="q5:RFAReferral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRFAIMRReferenceNumberByReferralIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRFAIMRReferenceNumberByReferralIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRFAIMRHistoryRationaleByReferralID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_rFAReferral" nillable="true" type="q6:RFAReferral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRFAIMRHistoryRationaleByReferralIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRFAIMRHistoryRationaleByReferralIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIMRRFAReferral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_IMRRFAReferral" nillable="true" type="q7:IMRRFAReferral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIMRRFAReferralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addIMRRFAReferralResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateIMRRFAReferral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_IMRRFAReferral" nillable="true" type="q8:IMRRFAReferral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateIMRRFAReferralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateIMRRFAReferralResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteIMRRFAReferral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_IMRRFAReferralId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteIMRRFAReferralResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIMRRFAReferralByRefID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_referralID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIMRRFAReferralByRefIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="getIMRRFAReferralByRefIDResult" nillable="true" type="q9:IMRRFAReferral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhysicianByReferralID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_referralID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhysicianByReferralIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="getPhysicianByReferralIDResult" nillable="true" type="q10:ArrayOfPhysician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIMRLetters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFAReferralID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIMRLettersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="GetIMRLettersResult" nillable="true" type="q11:ArrayOfRFAReferralFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIMRDecisionPageDetailsByReferralID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFAReferralID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIMRDecisionPageDetailsByReferralIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="getIMRDecisionPageDetailsByReferralIDResult" nillable="true" type="q12:IMRDecisionReferralDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIMRDecisionPageRequestDetailsByReferralID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFAReferralID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIMRDecisionPageRequestDetailsByReferralIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="getIMRDecisionPageRequestDetailsByReferralIDResult" nillable="true" type="q13:ArrayOfIMRDecisionRequestDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateIMRRFAReferralByValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_IMRRFAReferral" nillable="true" type="q14:IMRRFAReferral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateIMRRFAReferralByValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateIMRRFAReferralByValuesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIMRDecisionRequestDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_IMRRFARequest" nillable="true" type="q15:ArrayOfIMRRFARequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIMRDecisionRequestDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addIMRDecisionRequestDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateIMRDecisionRequestDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="_IMRRFARequest" nillable="true" type="q16:IMRRFARequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateIMRDecisionRequestDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateIMRDecisionRequestDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIMRDecisionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIMRDecisionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="getIMRDecisionListResult" nillable="true" type="q17:ArrayOfIMRDecision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>