MMC/Service References/MMCService.IntakeService/IntakeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/IntakeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
  <xs:complexType name="PagedIncompleteReferrals">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="IncompleteReferralsDetails" nillable="true" type="q1:ArrayOfIncompleteReferrals" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedIncompleteReferrals" nillable="true" type="tns:PagedIncompleteReferrals" />
  <xs:complexType name="PagedRFADiagnosis">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="RFADiagnosisDetails" nillable="true" type="q2:ArrayOfRFADiagnosis" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedRFADiagnosis" nillable="true" type="tns:PagedRFADiagnosis" />
  <xs:complexType name="PagedRFAPatMedicalRecordReview">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="RFAPatMedicalRecordReviewDetails" nillable="true" type="q3:ArrayOfRFAPatMedicalRecordReviewDetail" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedRFAPatMedicalRecordReview" nillable="true" type="tns:PagedRFAPatMedicalRecordReview" />
  <xs:complexType name="PagedPatientHistory">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="PatientHistoryDetails" nillable="true" type="q4:ArrayOfPatientHistory" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedPatientHistory" nillable="true" type="tns:PagedPatientHistory" />
  <xs:complexType name="PagedRequestHistory">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="RequestHistoryDetails" nillable="true" type="q5:ArrayOfRequestHistory" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedRequestHistory" nillable="true" type="tns:PagedRequestHistory" />
  <xs:complexType name="PagedRequestByReferralID">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="RequestDetails" nillable="true" type="q6:ArrayOfRequestByReferralID" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedRequestByReferralID" nillable="true" type="tns:PagedRequestByReferralID" />
</xs:schema>