MMC/Service References/MMCService.IntakeService/IntakeService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMC.Core.Data.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMC.Core.Data.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RFAPatMedicalRecordReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="RFAPatMedicalRecordReviewedID" type="xs:int" />
      <xs:element minOccurs="0" name="RFARecSpltID" type="xs:int" />
      <xs:element minOccurs="0" name="RFAReferralID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RFAPatMedicalRecordReview" nillable="true" type="tns:RFAPatMedicalRecordReview" />
</xs:schema>