MMC/Service References/MMCService.CommonService/CommonService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMCService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/mmc/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMCService.DTO" />
  <xs:complexType name="PagedICD9Code">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="ICD9CodeDetails" nillable="true" type="q1:ArrayOfICD9Code" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedICD9Code" nillable="true" type="tns:PagedICD9Code" />
  <xs:complexType name="PagedICDCode">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="ICDCodeDetails" nillable="true" type="q2:ArrayOfICDCode" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedICDCode" nillable="true" type="tns:PagedICDCode" />
  <xs:complexType name="PagedAdditionalDocument">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MMCService.DTO" minOccurs="0" name="AdditionalDocumentDetails" nillable="true" type="q3:ArrayOfAdditionalDocument" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedAdditionalDocument" nillable="true" type="tns:PagedAdditionalDocument" />
</xs:schema>